* {
  margin: 0;
  padding: 0;
}

#meme-image {
  width: 300px;
  height: 300px;
  position: absolute;
}

#meme-text {
  position: absolute;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#meme-image-container {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
}